* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ********************** 共通 ********************** */

.contents {
  padding: 90px 0;
  text-align: center;
}

.heading {
  position: relative;
  top: 0;
  left: 0;
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
}

.heading::before { /* 通常、アンダーラインの横幅等は文字に依存するため、任意に調整する場合は::beforeを使う */
  position: absolute; /* positionを使い、文字(heading)との相対位置を指定 */
  bottom: 0;
  left: 50%;
  content: '';
  width: 70px;
  border-bottom: 3px solid #ec715f;
  transform: translate(-50%); /* 文字を中央寄せしているため、アンダーラインの位置を調整 */ 
}

.text {
  margin: 30px 0;
  font-size: 16px;
  color: #000000;
}


/* ********************** ヘッダー ********************** */
header {
  background-color: #ec715f;
  width: 100%;
  height: 70px;
}

.header {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* display flex で横並びにした要素を両端揃えで配置する（ここでは、h1要素とnav要素）*/
}

.header img {
  height: 70px;
  object-fit: cover;
}

.nav {
  display: flex;
  line-height: 70px;
}

.nav-list {
  list-style: none;
  font-size: 16px;
  margin: 0 30px;
}

.nav-list a {
  text-decoration: none;
  color: #fafafa;
}

/* ***********************メインビジュアル*********************** */
.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(/img/mv.png); /* 背景画像を指定 */
  background-position: center center; /* 背景画像を上下中央に配置 */
  background-size: cover; /* 背景画像を画面サイズに合わせる*/ 
}

.main-visual-contents {
  padding-top: 200px;
  text-align: center;
}

.main-visual-heading {
  font-size: 64px;
  color: #fafafa;
  margin-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
  color: #fafafa;
}

/* ***********************ポートフォリオ*********************** */
#portfolio {
  background-color: #eceff1;
}

.portfolio-images {
  display: flex; /* 要素の横並び */
  flex-wrap: wrap; /* 横並びを折り返す */
  width: 920px;
  margin: 0 auto; /* 要素(ブロック)の中央寄せ */
}

.portfolio-img {
  background-position: center center;
  background-size: cover;
  width: 300px;
  height: 250px;
}

.img1 {
  background-image: url(/img/sketch.jpg);
  margin-right: 10px;
  margin-bottom: 10px;
}

.img2 {
  background-image: url(/img/websuku.png);
  margin-right: 10px;
  margin-bottom: 10px;
}

.img3 {
  background-image: url(/img/write.jpg);
  margin-bottom: 10px;
}

.img4 {
  background-image: url(/img/webcamp.png);
  margin-right: 10px;
}

.img5 {
  background-image: url(/img/talk.jpg);
  margin-right: 10px;
}

.img6 {
  background-image: url(/img/webcamp-mother.png);
}

/* ***********************フィーチャー*********************** */
.feature-box {
  width: 980px;
  display: flex;
  margin: 0 auto;
}

.strength {
  width: 320px;
}

.strength:nth-child(-n+2) {
  margin-right: 10px;
}

.strength-title {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.fa-solid {
  font-size: 60px
}

/* **********************プロフィール********************** */
#profile {
  background-color: #eceff1;
}

.profile-box {
  width: 1024px;
  display: flex;
  margin: 0 auto;
}

.profile-image-box {
  width: 50%;
  margin: 0 auto;
}

.profile-image {
  background-image: url(/img/my-icon.jpg);
  width: 250px;
  height: 250px;
  border-radius:50%;
  margin: 0 auto;
  /* background-position: center; */
}

.profile-message {
  width: 50%;
  text-align: left;
}

.profile-message-title {
  font-size: 20px;
  margin-bottom: 5px;
  color: #000000;
}

.profile-message-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

/* **********************コンタクト********************** */
.contact-box {
  width: 800px;
  display: flex;
  margin: 0 auto;
}

.contact-address {
  width: 400px;
}

.contact-address-content {
  width: 130px;
  text-align: left;
  margin: 0 auto;
}

.contact-address-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.contact-address-title:nth-child(n+2) {
  margin-top: 20px;
}

.contact-address-text {
  font-size: 16px;
  text-decoration: underline;
  color: #000000;
}

.contact-sns-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.fa {
  font-size: 50px;
}

.fa:nth-child(-n+3) {
  margin-right: 20px;
}

.contact-sns {
  width: 400px;
}

.contact-sns-content {
  width: 200px;
  text-align: left;
  margin: 0 auto;
}

/* ***********************フッター*********************** */
.footer {
  background-color: #ec715f;
  height: 60px;
  width: 100%;
}

.footer p {
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
  text-align: center;
}