* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* ********************** 共通 ********************** */

.contents {
  padding: 90px 0;
  text-align: center;
}

.heading {
  position: relative;
  top: 0;
  left: 0;
  font-size: 32px;
  color: #000000;
  padding-bottom: 8px;
}

.heading::before { /* 通常、アンダーラインの横幅等は文字に依存するため、任意に調整する場合は::beforeを使う */
  position: absolute; /* positionを使い、文字(heading)との相対位置を指定 */
  bottom: 0;
  left: 50%;
  content: '';
  width: 70px;
  border-bottom: 3px solid #ec715f;
  transform: translate(-50%); /* 文字を中央寄せしているため、アンダーラインの位置を調整 */ 
}

.text {
  margin: 30px 0;
  font-size: 16px;
  color: #000000;
}


/* ********************** ヘッダー ********************** */

.c-header {
  align-items: center;
  background-color: #ec715f;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1rem 7.5rem; 
}

.c-header__logo {
  color: #000; /* カスタマイズしてください */
  min-width: 80px; /* カスタマイズしてください */
  text-decoration: none;
}

.c-header__logo img {
  height: 70px;
  object-fit: cover;
}

.c-header__list {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}

.c-header__list-item {
  list-style: none;
  text-decoration: none;
}

.c-header__list-link {
  color: #fafafa;
  display: block;
  margin-right: 30px; 
  text-decoration: none;
  padding: 10px 0px; /* カスタマイズしてください */
}

.c-header__list-link:hover {
  filter: opacity(0.6); /* カスタマイズしてください */
}

.c-hamburger-menu {
  position: relative;
}


/* ***********************メインビジュアル*********************** */
.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(/img/mv.png); /* 背景画像を指定 */
  background-position: center center; /* 背景画像を上下中央に配置 */
  background-size: cover; /* 背景画像を画面サイズに合わせる*/ 
}

.main-visual-contents {
  padding-top: 200px;
  text-align: center;
}

.main-visual-heading {
  font-size: 64px;
  color: #fafafa;
  margin-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
  color: #fafafa;
}

/* ***********************ポートフォリオ*********************** */
#portfolio {
  background-color: #eceff1;
}

.portfolio-images {
  display: flex; /* 要素の横並び */
  flex-wrap: wrap; /* 横並びを折り返す */
  width: 920px;
  margin: 0 auto; /* 要素(ブロック)の中央寄せ */
}

.portfolio-img {
  background-position: center center;
  background-size: cover;
  width: 300px;
  height: 250px;
}

.img1 {
  background-image: url(/img/sketch.jpg);
  margin-right: 10px;
  margin-bottom: 10px;
}

.img2 {
  background-image: url(/img/websuku.png);
  margin-right: 10px;
  margin-bottom: 10px;
}

.img3 {
  background-image: url(/img/write.jpg);
  margin-bottom: 10px;
}

.img4 {
  background-image: url(/img/webcamp.png);
  margin-right: 10px;
}

.img5 {
  background-image: url(/img/talk.jpg);
  margin-right: 10px;
}

.img6 {
  background-image: url(/img/webcamp-mother.png);
}

/* ***********************フィーチャー*********************** */
.feature-box {
  width: 980px;
  display: flex;
  margin: 0 auto;
}

.strength {
  width: 320px;
}

.strength:nth-child(-n+2) {
  margin-right: 10px;
}

.strength-title {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.fa-solid {
  font-size: 60px
}

/* **********************プロフィール********************** */
#profile {
  background-color: #eceff1;
}

.profile-box {
  width: 1024px;
  display: flex;
  margin: 0 auto;
}

.profile-image-box {
  width: 50%;
  margin: 0 auto;
}

.profile-image {
  background-image: url(/img/my-icon.jpg);
  width: 250px;
  height: 250px;
  border-radius:50%;
  margin: 0 auto;
  /* background-position: center; */
}

.profile-message {
  width: 50%;
  text-align: left;
}

.profile-message-title {
  font-size: 20px;
  margin-bottom: 5px;
  color: #000000;
}

.profile-message-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

/* **********************コンタクト********************** */
.contact-box {
  width: 800px;
  display: flex;
  margin: 0 auto;
}

.contact-address {
  width: 400px;
}

.contact-address-content {
  width: 130px;
  text-align: left;
  margin: 0 auto;
}

.contact-address-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.contact-address-title:nth-child(n+2) {
  margin-top: 20px;
}

.contact-address-text {
  font-size: 16px;
  text-decoration: underline;
  color: #000000;
}

.contact-sns-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.fa {
  font-size: 50px;
}

.fa:nth-child(-n+3) {
  margin-right: 20px;
}

.contact-sns {
  width: 400px;
}

.contact-sns-content {
  width: 200px;
  text-align: left;
  margin: 0 auto;
}

/* ***********************フッター*********************** */
.footer {
  background-color: #ec715f;
  height: 60px;
  width: 100%;
}

.footer p {
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
  text-align: center;
}

/* ***********************レスポンシブ*********************** */

/* ハンバーガーメニュー ここから */
@media screen and (max-width: 767px) {
  .c-hamburger-menu__list {
    background-color: #f88b7a; /* カスタマイズしてください */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem 10rem; /* カスタマイズしてください */
    position: absolute;
    transform: translateX(-100%);
    transition: 0.3s; /* カスタマイズしてください */
    top: 100%;
    width: 100%;
  }

  #hamburger:checked ~ .c-hamburger-menu__list {
    transform: translateX(0%);
    transition: 0.3s;
  }
}

.c-hamburger-menu__input {
  display: none;
}

.c-hamburger-menu__bg {
  background-color: #000; /* カスタマイズしてください */
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.4; /* カスタマイズしてください */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
  display: block;
}

.c-hamburger-menu__button {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-hamburger-menu__button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px; /* カスタマイズしてください */
    height: 32px; /* カスタマイズしてください */
    justify-content: center;
    width: 32px; /* カスタマイズしてください */
  }
}

.c-hamburger-menu__button-mark {
  background-color: #000; /* カスタマイズしてください */
  display: block;
  height: 1px; /* カスタマイズしてください */
  transition: 0.3s; /* カスタマイズしてください */
  width: 20px; /* カスタマイズしてください */
}

@media screen and (max-width: 767px) {
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(1) {
    transform: translate(2px, 1px) rotate(45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(2) {
    opacity: 0;
  }
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(3) {
    transform: translate(2px, 3px) rotate(-45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }
}
/* ここまで */

/* その他 ここから */
@media screen and (max-width: 767px) {
  /* メインビジュアル */
  .main-visual {
    background-image: url(/img/code.png);
    width: 100%;
    height: 650px;
  }

  .main-visual-contents {
    width: 90%;
    margin: 0 auto;
  }

  .main-visual-heading {
    font-size: 40px;
    color: #fafafa;
    margin-bottom: 10px;
  }

  .main-visual-text {
    font-size: 18px;
    color: #fafafa;
  }

  /* ポートフォリオ */
  .contents {
    width: 90%;
    margin: 0 auto;
    padding: 90px 0;
  }

  .portfolio-images {
    display: block; 
    margin: 0 auto; /* 要素(ブロック)の中央寄せ */
    width: 100%;
  }
  
  .portfolio-img {
    background-position: center center;
    background-size: cover;
    width: 300px;
    height: 250px;
  }
  
  .img1 {
    display: none;
  }
  
  .img2 {
    background-image: url(/img/websuku.png);
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .img3 {
    display: none;
  }
  
  .img4 {
    background-image: url(/img/webcamp.png);
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .img5 {
    display: none;
  }
  
  .img6 {
    background-image: url(/img/webcamp-mother.png);
    margin: 0 auto;
  }

  /* フィーチャー */  
  .strength {
    width: 320px;
  }
  
  .strength:nth-child(-n+2) {
    margin-right: 10px;
  }
  .feature-box {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .strength {
    padding: 10px 0;
    margin: 0 auto;
    width: 100%;
  }

  .fa-solid {
    font-size: 50px
  }

  /* プロフィール */
  .profile-box {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .profile-image-box {
    width: 100%;
    margin: 0 auto;
  }
  
  .profile-image {
    background-image: url(/img/my-icon.jpg);
    width: 250px;
    height: 250px;
    border-radius:50%;
    margin: 0 auto;
    /* background-position: center; */
  }
  
  .profile-message {
    width: 100%;
    text-align: center;
  }

  .profile-message-title {
    margin-top: 20px;
  }

  /* コンタクト */
  .contact-box {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .contact-address {
    width: 100%;
  }
  
  .contact-address-content {
    width: 130px;
    text-align: center;
    margin: 0 auto;
  }
  
  .contact-address-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .contact-address-title:nth-child(n+2) {
    margin-top: 0px;
  }

  .contact-address-text {
    display: block;
    margin-bottom: 20px;
  }

  .contact-sns {
    width: 100%;
  }
  
  .contact-sns-content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

}